.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.nav-link {
  text-decoration: none;
  color: "#424242"; /* Default color */
  transition: color 0.3s ease;
  margin-right: 100px;
  transition: text-decoration 0.3s ease;
}

.nav-link:hover {
  color: rgb(250, 19, 19);
  text-decoration: underline;
}
.skill-div {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.skills-image {
  display: "flex";
  align-items: "center";

  width: 300px;
  height: 40px;
  padding: 5px;
  border-radius: 10px;
  box-shadow: 0 20px 20px #424242;
  animation: fadeInMove 1s ease-in-out;
  background-color: #dbe8e8;
}

@keyframes fadeInMove {
  0% {
    opacity: 0;
    transform: translateX(-200px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
.css {
  animation: fadeInMove 2s ease-in-out;
}

.js {
  animation: fadeInMove 3s ease-in-out;
}

.react {
  animation: fadeInMove 4s ease-in-out;
}

.note {
  animation: fadeInMoveNote 1s ease-in-out;
}

@keyframes fadeInMoveNote {
  0% {
    opacity: 0;
    transform: translateX(200px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.express {
  animation: fadeInMoveNote 2s ease-in-out;
}

.prisma {
  animation: fadeInMoveNote 3s ease-in-out;
}

@keyframes fadeInMoveImage {
  0% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(100px);
  }
  h3 {
    animation: fadeInMoveImage 2s infinite alternate; /* Adjust duration and timing as needed */
  }
}

/* for responsive */

@media (min-width: 768px) {
  .hamburger-menu {
    display: none;

    /* Show hamburger icon */
  }
  .contenyDiv {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
}

@media (max-width: 768px) {
  .nav-links {
    display: none; /* Hide navigation links */
    flex-direction: column;
    position: absolute;
    top: 59px; /* Adjust as needed */
    left: -12px;
    background-color: #f5f5f5;
    color: #e35050;
    width: 300px; /* Adjust the width as necessary */
    padding: 10px;
    z-index: 1000;
    height: 1000px;
    border-radius: 4px;
    animation: nav-linksAni 0.7s ease-in-out;
  }

  .nav-links.show {
    display: flex;

    /* Show when the menu is open */
  }

  .nav-links .nav-link {
    font-size: 30px;
    color: #070707; /* Set the text color directly on the nav-link class */
    text-decoration: none;

    /* Optional: Remove underline from links */
    border-bottom: 0.03px solid #48cfcb;
    margin-top: 20px;
    width: 100%;

    margin-left: -5px;
    margin-right: -5px;
  }

  .hamburger-menu {
    display: block;

    /* Show hamburger icon */
  }
  .tagHompePage {
    padding: 10px;
  }
  .contenyDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .abotName {
    font-size: 25px;
    padding: 7px;
  }
  .skill-div {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .cvImage {
    width: 20px;
    height: 20px;
  }

  .cvDiv {
    margin-left: 0px;
    display: flex;
    flex-direction: column;
  }
}

@keyframes nav-linksAni {
  0% {
    transform: translateX(-200px);
  }
  100% {
    transform: translateX(-3px);
  }
}
